.App {
  display:flex;
  flex-direction: column;  
}

.header{
  padding : 1rem 2rem;
  background:#3b5998;
  display:flex;  /*나란히 정렬*/
  justify-content: space-between; /*양옆 정렬*/
  align-items: center;  /*select box 중앙 정렬*/
}

.header h1{
  color: #fff;
}


.header select{
  height:30px;
  width: 140px;
  border-radius: 5px;
  border:none;
}

section{
  padding : 1rem;
}

.contents {
  display:grid;
  grid-template-columns: 1fr 1fr;  /*나란히 2개만*/
  grid-gap:2rem;  /*간격*/
}